/* you can add your own styles in this file */
/*css reset*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal;
}

body {
  background-color: var(--black-80);
  color: white;
  font-family: 'Indie Flower';
  margin: 0;
}

/* navbar */
.drip {
  background-image: url(assets/drip-green-gradient.png);
  background-repeat: repeat-x;
  background-size: contain;
  padding-bottom: 15vh;
}

@media screen and (max-width: 600px) {
  .drip {
    padding-bottom: 15vh;
    background-size: auto 20vh;
 } 
}

/* homepage */
.li-gradient {
      /* background: linear-gradient(#ffc71f, #f5f504); */
      background: linear-gradient(#181b19f2,#091307cc);
      box-shadow: 2px 2px 16px 0px #020202;
}

.emoji {
  margin-bottom: -2rem;
}