/* you can add your own styles in this file */
/*css reset*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal;
}

body {
  background-color: var(--black-80);
  color: white;
  font-family: 'Indie Flower';
  margin: 0;
}

/*.fangs {
  background-image: url('./assets/fangs.png');
}*/
.drip {
  background-image: url(assets/drip-green-gradient.png);
  background-repeat: repeat-x;
  background-size: contain;
  padding-bottom: 15vh;
}

@media screen and (max-width: 600px) {
  .drip {
    padding-bottom: 15vh;
    background-size: auto 20vh;
} 
}